<!doctype html>
<html lang="en" ng-app="Casino">
  <head>
    <title> Casino </title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/casinoWarController.js"></script>
  </head>
  <body div ng-controller='casinoController as casino'>
    <input type="text" ng-model="email" placeholder="Email">
    <input type="text" ng-model="password" placeholder="Password">
    <input type="text" ng-model="password_confirmation" placeholder="Confirm password">
    <button class="button" ng-click="casino.get">
      Get
    </button>
    {{casino.email}}
  </body>
</html>
